/*
Theme Name: animalTheme
*/
body{
    background-color: pink;
    font-family: 'Architects Daughter', cursive;
}
.indexIMG{
	width: 10em;
    margin: 15px;
}
.card{
    border: 5px inset #ea00ff;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3em;
    background-color: rgb(165, 244, 255);
}
.animalList{
    display: flex;
    flex-wrap: wrap;
}
a{
    color: rgb(255, 0, 43);
    text-decoration: none;
}
h1{
    font-size: 3.5em;
    margin-left: 2em;
}
h3{
    font-size: 1.7em;
    margin-left: 1.5em;
}
.nomTailleDescri{
    margin-left: 1em;
}
.animalCont{
    display: flex;

}
.imgMange{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.animalPNG{
    max-width: 400px;
    max-height: 400px;
}
.description{
    text-align: center;
    max-width: 45%;
}
.animalPNG{
    display: absolute;
    margin-top: -100px;

}
.mange{
    font-size: large;
}